
@font-face {
  font-family: 'MultiroundPro';
  src: url('../fonts/MultiroundPro.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../svg/background.svg);
  background-repeat: repeat; /* Отключает повторение изображения */
  background-size: contain; /* Масштабирует изображение так, чтобы оно вписывалось в контейнер */
  background-position: center; /* Центрирует изображение на странице */
  background-color: #282828;
  font-family: 'MultiroundPro', sans-serif; /* Применяем шрифт ко всему телу */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Задать фон для навигации */
  z-index: 1000; /* Разместить навигацию поверх остальных элементов */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавить тень для отделения от контента */
}

.navbar a {
  color: #D4BE98;
  text-decoration: none; /* Убираем подчеркивание */
}

.navbar a:hover {
  color: #d86fa4; /* Изменение цвета при наведении, можно настроить */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e1e;
}

.navbar .logo {
  font-size: 36px;
  color: #fff;
}

.navbar .logo span {
  color: #d86fa4;
}

.navbar ul {
  font-size: 20px;
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
}

.main-section {
  text-align: center;
  padding: 50px 20px;
}

.logo-center img {
  max-width: 800px;
  margin-bottom: 20px;
}

h1 {
  color: #D4BE98;
  font-size: 36px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  font-family: MultiroundPro;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.pinkbig {
  border-radius: 20px; /* Скругление углов */
  padding: 30px 60px;
  font-size: 24px;
  background-color: #d86fa4;
  color: #282828;
}

.pinksmall {
  background-color: #d86fa4;
  color: #282828;
}

.brownbig {
  border-radius: 20px; /* Скругление углов */
  background-color: #3C3836;
  color: #c4b080;
  padding: 30px 90px;
  font-size: 24px;
}

.brownsmall {
  background-color: #3C3836;
  color: #c4b080;
}

.designers {
  padding: 50px 20px;
  text-align: center;
}

.designers h2 {
  color: #D4BE98;
  font-size: 48px;
  margin-bottom: 40px;
}

.designer-cards-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}

.designer-cards {
  display: inline-flex;
  gap: 20px;
}

.card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.card img {
  width: 200px;
  height: 250px;
  border-radius: 15%;
  border: 3px solid #d86fa4;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  color: #D4BE98;
  font-size: 24px;
  margin-bottom: 10px;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Скрываем текст, который не помещается */
  text-overflow: ellipsis; /* Добавляем многоточие в конце */
}

.card p {
  color: #D4BE98;
  font-size: 16px;
  margin: 5px 0;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Скрываем текст, который не помещается */
  text-overflow: ellipsis; /* Добавляем многоточие в конце */
}

.spacer {
  height: 250px; /* Высота, которая удлинит страницу */
}


/* Стили для модального окна */
.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed;
  z-index: 1000; /* Обеспечивает отображение над другими элементами */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Добавляет прокрутку, если нужно */
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.modal-content {
  background-color: #333;
  margin: 15% auto; /* Центрирует модальное окно */
  padding: 20px;
  border: 1px solid #d86fa4; /* Рамка */
  width: 80%; /* Ширина модального окна */
  max-width: 600px; /* Максимальная ширина */
  border-radius: 10px;
  color: #D4BE98;
  text-align: center;
}
/* Добавьте этот код в конец вашего CSS файла */
.modal-content img {
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
  width: 300px !important; /* Увеличен размер аватарки */
  height: 300px !important; /* Увеличен размер аватарки */
  margin: 20px;
}

.modal-content h2 {
  font-size: 32px; /* Увеличиваем размер заголовка */
  color: #D4BE98; /* Цвет текста заголовка */
  margin: 12px;
}

.modal-content p {
  font-size: 20px; /* Увеличиваем размер текста */
  color: #D4BE98; /* Цвет текста */
  margin: 12px;
}

.close {
  color: #d86fa4; /* Цвет кнопки закрытия */
  float: right; /* Размещает кнопку в правом верхнем углу */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff; /* Изменение цвета при наведении */
  text-decoration: none;
  cursor: pointer; /* Указатель для курсора */
}



.btn-view-profile {
  font-family: 'MultiroundPro';
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d86fa4;
  color: #282828;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-view-profile:hover {
  background-color: #e67e22;
}
