
@font-face {
  font-family: 'MultiroundPro';
  src: url('../fonts/MultiroundPro.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../svg/background.svg);
  background-repeat: no-repeat; /* Отключает повторение изображения */
  background-size: cover; /* Масштабирует изображение так, чтобы оно покрыло весь экран */
  background-position: center; /* Центрирует изображение на странице */
  background-color: #282828;
  font-family: 'MultiroundPro', sans-serif; /* Применяем шрифт ко всему телу */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e1e;
}

.navbar .logo {
  font-size: 36px;
  color: #fff;
}

.navbar .logo span {
  color: #d86fa4;
}

.navbar ul {
  font-size: 20px;
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li b {
  color: #D4BE98;
  text-decoration: none;
}
.navbar ul li p {
  color: #d86fa4;;
  text-decoration: none;
}

.main-section {
  text-align: center;
  padding: 50px 20px;
}

.logo-center img {
  max-width: 800px;
  margin-bottom: 20px;
}

h1 {
  color: #D4BE98;
  font-size: 36px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  font-family: MultiroundPro;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.pinkbig{
  border-radius: 20px; /* Скругление углов */
  padding: 30px 60px;
  font-size: 24px;
  background-color: #d86fa4;
  color: #282828;
}
.pinksmall {
  background-color: #d86fa4;
  color: #282828;
}

.brownbig {
  border-radius: 20px; /* Скругление углов */
  background-color: #3C3836;
  color: #c4b080;
  padding: 30px 90px;
  font-size: 24px;
}
.brownsmall {
  background-color: #3C3836;
  color: #c4b080;
}

.designers {
  padding: 50px 20px;
  text-align: center;
}

.designers h2 {
  color: #D4BE98;
  font-size: 48px;
  margin-bottom: 40px;
}

.designer-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h3 {
  color: #D4BE98;
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  color: #D4BE98;
  font-size: 16px;
  margin: 5px 0;
}

.price {
  font-size: 20px;
  color: #d86fa4;
  margin: 15px 0;
}